<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/RichfieldTemplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Historical Society located in Richfield WI (262) 628-2841." />
<meta name="keywords" content="Richfield WI history, historical society in Wisconsin , Richfield WI, eastern Wisconsin history" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Richfield Historical Society</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

<link href="../main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
/*
Random link button- By JavaScript Kit (http://javascriptkit.com)
Over 300+ free scripts!
This credit MUST stay intact for use
*/

//specify random links below. You can have as many as you want
var randomlinks=new Array()

randomlinks[0]="http://ambermarielyon.com/richfield/Templates/monthly_feature.html"
randomlinks[1]="http://ambermarielyon.com/richfield/Templates/monthly_feature_edwin_mayer.html"
randomlinks[2]="http://ambermarielyon.com/richfield/Templates/monthly_feature_mayer_family.html"


function randomlink(){
window.location=randomlinks[Math.floor(Math.random()*randomlinks.length)]
}
//-->
</script>
<script src="doubletaptogo.js"></script>
<script type="text/javascript">
$( '#nav li:has(ul)' ).doubleTapToGo();
</script>
</head>

<body>
 <div class="container">
<div class="header">
	
    <div class="holder_content">
    <div style="position: relative; width: 950px">
    <h1>Richfield Historical Society</h1>
    <p class="cityheading">Richfield, WI</p>
  </div>
   <div class="headerlogo"><img src="../Sepia%20Logo_small.png" alt="Richfield Historical Society logo" class="logo" /></div>
   <div class="headerleft">
   <img src="../mill-soft-optimized.jpg" width="130" height="105" alt="Richfield Historical Society millhouse" /></div>
   <div class="headercenter">
   <img src="../visitor-center-soft-optimized.jpg" width="130" height="105" alt="Richfield Historical Society visitor center" /></div>
   
   <div class="headerright">
   <img src="../Log-Cabin-soft-optimized.jpg" width="130" height="105" alt="Richfield Historical Society logcabin" /></div>
   <div class="headerinfo">
   <img src="../Sugar-Shack-soft-optimized.jpg" width="130" height="105" alt="Richfield Historical Society logcabin" /></div>
      </div>
<!-- end .header --></div>

  <div id="mainnav">
  <nav id="nav" role="navigation">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#" aria-haspopup="true">Get Involved</a>
      	<ul>
      		<li><a href="become_a_member.html">Become a Member</a></li>
     		 <li><a href="#">Newsletter</a></li>
     		 <li><a href="#">Volunteer</a></li>
     		 <li><a href="#">Donate</a></li>
   		</ul></li>
      <li><a href="#" aria-haspopup="true">Community Outreach</a>
      	<ul>
      		<li><a href="#">Education Day</a></li>
      		<li><a href="#">Traveling Trunk</a></li>
      		<li><a href="#">Eagle Scout Projects</a></li>
     		<li><a href="#">History Day</a></li>
            <li><a href="#">RHS Monthly Programs</a></li>
            <li><a href="#">Newsletter</a></li>
    </ul></li>
      <li><a href="#" aria-haspopup="true">Richfield Historical Park</a>
      	<ul>
      		<li><a href="#">Tours</a></li>
      		<li><a href="#">Messer/Mayer Mill</a></li>
      		<li><a href="#">Messer/Mayer Homestead</a></li>
     		<li><a href="#">Pioneer Homestead</a></li>
            <li><a href="#">Visitor Center</a></li>
            <li><a href="#">Park Map</a></li>
            <li><a href="#">Park Rental</a></li>
        </ul></li>
      <li><a href="#" aria-haspopup="true">Richfield Remembers</a>
      	
        	<ul>
      		<li><a href="#">History of Richfield Historical Society</a></li>
      		<li><a href="#">History of the Messer/Mayer Mill</a></li>
      		<li><a href="#">Newsletter</a></li>
     		<li><a href="homestead_families.html">Homestead Families</a></li>
            <li><a href="#">Richfield Remembers the Past Book</a></li>
			
<!--<form method="post">
Uncomment below to use a regular text link instead
<p><input type="button" name="B1" value="Random Link >>" onclick="randomlink()"></p> </form>
-->

<li><a href="javascript:randomlink()">Monthly Feature</a></li>
        </ul></li>
</ul></nav>
	</div> 

  <div class="content">
  <!-- InstanceBeginEditable name="mainContent" -->
  <div class="holder_content">
  <div class="centered_content">
    <h2>Richfield Homestead Families</h2>
    <table border="0" cellspacing="0" cellpadding="0" width="408">
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p align="center"><strong>Color Key</strong></p></td>
        <td width="276" valign="bottom"><p align="center"><strong>Number Key</strong><strong> </strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p align="center"><strong>1830 – 1849</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(1) migrated to Richfield    in 1844</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p align="center"><strong>1850 – 1859</strong><strong> </strong></p></td>
        <td width="276" valign="bottom"><p><strong>(2) Immigrated to Richfield    in 1841</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p align="center"><strong>1860 – 1869</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(3) Immigrated to Richfield    in 1842</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p align="center"><strong>1870 &amp; later</strong><strong> </strong></p></td>
        <td width="276" valign="bottom"><p><strong>(4) Immigrated to Richfield    in 1864</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p><strong>&nbsp;</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(5) Immigrated to Meeker    Hill in 1846</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p><strong>&nbsp;</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(6) Immigrated to Richfield    in 1891</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p><strong>&nbsp;</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(7) Immigrated to Richfield    in 1849</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p><strong>&nbsp;</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(8) Immigrated to Richfield    in 1845</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p><strong>&nbsp;</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(9) Immigrated to Richfield    in 1866</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p><strong>&nbsp;</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(10)    Immigrated to Richfield in 1856</strong></p></td>
      </tr>
      <tr>
        <td width="132" nowrap="nowrap" valign="bottom"><p><strong>&nbsp;</strong></p></td>
        <td width="276" valign="bottom"><p><strong>(11)    Immigrated to Richfield in 1875</strong></p></td>
      </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" width="618">
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p align="center"><strong>NAME</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p align="center"><strong>EMIGRATED FROM</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p align="center"><strong>DATE </strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Aulenbacher,    Adam</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>France</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1852</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Bauer,    Michael</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Metz,    Alsace Lorraine</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Baumgartner,    Fridolin</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Eischsel,    Baden, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Baumgartner,    Jacob</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Eischsel,    Baden, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Baumgartner,    Ursus Victor</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Eischsel,    Baden, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Becker,    Christian</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1863</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Becker,    Frederick</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Walduelversheim,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1852</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Biegler,    William</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dorn    Durkheim, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1847</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Claffey,    Michael</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>County    Westmeath, Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Connell,    Richard</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Skibbereen,    County Cork, Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1836    (</strong><strong>10</strong><strong>)</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Cosgrove,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Dunn,    William</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>County    Limerick, Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Ebling,    Frederick</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Unterheim,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Ebling,    Heinrich</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Unterheim,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Eimermann,    Jacob</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Schwabsburg,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Ennes,    Andrew</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1849</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Fahey,    Patrick</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Wexford,    County Mayo, Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1841    (</strong><strong>1</strong><strong>)</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Fassbender,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dietz,    Nassau, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1871</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Fassbender,    Wilhelm</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dietz,    Nassau, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1871</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Fleischmann,    Leonard</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Oberlind,    Bavaria, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Fleming,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>County    Westmeath, Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1837(</strong><strong>2</strong><strong>)</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Flynn,    Patrick</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Tinnynuck,    Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Fogarty,    Michael</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Friess,    Anton</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dexheim,    Bavaria, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Friess,    Peter Adam</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dexheim,    Bavaria, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1853</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Fuller,    Zachariah</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Gallion,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Eberbach,    Baden, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1849</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Gans,    John Martin</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dreppoch-Bruem,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1852</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Geil,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1866</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Goetz,    Leonard</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Baden,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1851</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Graf,    Michael</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1863</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Griesmer,    Andrew</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Gruen,    Heinrich</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1856</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Hansen,    Jacob</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1884</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Hartleb,    Peter Johann</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Algig,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1849</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Hayes,    Thomas</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Killuran,    County Clare, Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1837    (</strong><strong>3)</strong><strong> </strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Held,    Andreas</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Kongernheim,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Held,    Joseph</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Kongernheim,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Hennes,    Conrad Theodore</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Cologne,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1856 </strong><strong>(4)</strong><strong> </strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Illian,    Wilhelm</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1847</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Jacob,    Michael</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Bavaria,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Jonas,    Hubert</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Kirchheim,    Prussia, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Jung,    Diedrich</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Untenheim,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Katzfey,    Mathias</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1848</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kessel,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Schwabsburg,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kiley,    Michael</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Ballyroach,    County Cork, Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Klippel,    Jacob</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1847</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Klump,    Jacob</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hunsreich,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1863</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kohl,    George</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hebesreit,    Bavaria, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1845    (</strong><strong>5</strong><strong>)</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kohl,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hebesreit,    Bavaria, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1845    (</strong><strong>5</strong><strong>)</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kohler,    Joseph</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Guevenatten,    Alsac-Lorraine</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kollenbroich,    Gerhard</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1872</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Komp,    Joseph</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dreis,    Rheinland-Pflaz, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1851</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Konrath,    Elisabeth</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dreis,    Rheinland-Pflaz, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1873</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kreuser,    Bertram</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1864</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kuepper,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1865</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kurtz,    Jacob, Sr.</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Saxe-Coburg,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1857</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Kurtzhals,    Andreas</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1867</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Laubenheinmer, </strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dexheim</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Johann    Philip</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p>Lehn, Andreas</p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p>Germany</p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1866</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Lillicrapp,    Richard</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>England</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Limbach,    Christian</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Linstedt,    Frederick</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1872 </strong><strong>(6)</strong><strong> </strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Loew,    Henry</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Bielen-Benggen,    Basel, Switzerland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Loew,    Jacob</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Bielen-Benggen,    Basel, Switzerland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Loew,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Bielen-Benggen,    Basel, Switzerland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Lofy,    George</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Morshat,    Trier, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1845</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Lofy,    John Joseph</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Morshat,    Trier, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1845</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Loosen,    George</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Cologne,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1857</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Mantz,    Balthus</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Mantz,    Dieter</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Maschman,    Henry</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Winterheim</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1866</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Mauer,    Wilhelm</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Walduelversheim,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1866</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Maurer,    Jacob</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Mayer,    Johann Georg</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Nierstein,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1851</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Mayer,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Bavaria,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1865</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>McKenna,    Francis</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>McManus,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Melius,    Conrad</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Schwabsburg,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1850</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Melius,    George</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Schwabsburg,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1850</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Melius,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Schwabsburg,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1850</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Merkel,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Bavaria,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Messer,    Johann</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Motz,    Gottfried</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Mueller,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Naab,    Adam</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Schwabsburg,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1857</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Noegel,    Konrad</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Heroldsbach,    Forchheim, Bavaria, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1884</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Noegel    (nee Welker), Katherine</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hausen,    Forchheim, Bavaria, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1884</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Naab,    George IV</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Schwabsburg,    Hesse-Darmstadt, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1857</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Neu,    Peter</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Louisendorf,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1858</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Neureuther,    Carl</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Baden,Baden,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1889</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Neuburg,    Engelbert</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Kelnisch,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1856</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>O&rsquo;Keane,    Mathew</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Connaught,    Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1848    (</strong><strong>7</strong><strong>)</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Otto,    Henry</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Otto,    Martin</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Radermacher,    Peter</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Cologne,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1848</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Regenfuss,    Jacob</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Bavaria,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Reichert,    Philip</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hesse-Darmstadt,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1850</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Reidenbach,    Peter</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Hamburg,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1848</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schafer,    Apolenaris</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Scharbach,    Sebastian</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1865</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schmidt,    Nicholas</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Austria</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1840</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schmidt,    Peter</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Austria</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1840</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schmitt,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dries,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schmitt,    John Joseph, Sr.</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Dries,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schoenke,    August</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1869</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schottler,    Adam</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1846    (</strong><strong>11)</strong><strong> </strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schulteis,    Peter Joseph</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Reinbach,    Prussia, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843    (</strong><strong>8</strong><strong>)</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schwamb,    Johann Ernst</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1859</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Schwartz,    Bertram</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Sennott,    Peter</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>County    Wexford, Ireland</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Stark,    Christian Nicholas</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Walduelversheim,</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1856    (</strong><strong>9</strong><strong>)</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Stephan,    Gabriel</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Eberbach,    Baden, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1860</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Stuesser,    Franz Joseph</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Rheinbach,    Prussia, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1842</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Stuettgen,    George</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Bocklemund,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1848</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Thielmann,    John</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Rueber,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1861</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Thielmann.    Joseph</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Rueber,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1861</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Voss,    Mathias</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1855</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Weber,    Thomas</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Werner,    Peter</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Werner,    William</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1843</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Wiedmeyer,    Casimer</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Zimmern,    Erloffen, Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1844</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Wierl,    George</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1902</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Wittenberger,    Joseph</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1851</strong></p></td>
      </tr>
      <tr>
        <td width="198" nowrap="nowrap" valign="bottom"><p><strong>Wolf,    Damian</strong></p></td>
        <td width="318" nowrap="nowrap" valign="bottom"><p><strong>Prussia,    Germany</strong></p></td>
        <td width="102" nowrap="nowrap" valign="bottom"><p><strong>1857</strong></p></td>
      </tr>
    </table>
  </div>
  <!-- InstanceEndEditable -->
  <div class="rightcontent">
  <div id="navContainer">   
  <nav id="nav" role="navigation">
  <ul>
      <li><span><a href="#" aria-haspopup="true">Messer/Mayer Mill</a></span>
      	<ul>
      		<li><a href="#">History</a></li>
     		 <li><a href="#">Accomplishments</a></li>
     		 <li><a href="#">Timeline</a></li>
     		 <li><a href="#">Donate</a></li>
             <li><a href="#">Tours</a></li>
   		</ul></li>
      <li><span><a href="#" aria-haspopup="true">Friends/Donors</a></span>
      	<ul>
      		<li><a href="#">Sponsors</a></li>
     		 <li><a href="#">In Kind Donors</a></li>
     		 <li><a href="program_booklet_advertisers.html">Program Booklet Advertisers</a></li>
     		 <li><a href="#">Capital Campaign Donors</a></li>
   		</ul></li>
      <li><span><a href="#" aria-haspopup="true">Donate</a></span>
      	<ul>
      		<li><a href="become_a_member.html">Become a Member</a></li>
     		 <li><a href="messer_mayer_mill_foundation_fund.html">Messer/Mayer Mill Foundation Fund</a></li>
     		 <li><a href="#">Estate Planning</a></li>
     		 <li><a href="#">Matching Funds From Company</a></li>
             <li><a href="#">401K</a></li>
             <li><a href="#">General Donation Form</a></li>
             <li><a href="#">Artifact Donation</a></li>
             </ul></li>
      <li><span><a href="contact_us.html">Contact Us</a></span></li>
    </ul></nav>
    </div>
    <p class="calendar"><a href="#" class="calendar"><img src="../blue_calendar.png" width="100" height="90" alt="Richfield Historical Society calendar" /></a></p>
    <p><a href="https://www.facebook.com/richfieldhistoricalsociety"><img src="../FB-f-Logo__blue_72.png" width="42" height="42" class="imgfacebook" alt="Richfield Historical Society facebook" /></a><a href="http://www.twitter.com/RichHist"><img src="../Twitter_logo_blue_72.png" alt="Richfield Historical Society twitter" width="52" height="42" class="imgtwitter" /></a></p>
    <div class="search_engine">
	<script>
  (function() {
    var cx = '011175491079012544750:a1dul01_55m';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search></div></div></div>
  
    <!-- end .content --></div>

  <div class="footer">
    <p>Copyright © 2014 | Richfield Historical Society | PO Box 268 Richfield, WI 53076</p>
    <div class="footernav">
    <ul>
    	<li><a href="#">Contact Us</a></li>
             <li><a href="#">Get Involved</a></li>
             <li><a href="#">Community Outreach</a></li>
             <li><a href="#">Richfield Remembers</a></li>
             <li><a href="#">Messer/Mayer Mill</a></li>
             <li><a href="#">Donate</a></li>
             <li><a href="#">Friends/Donors</a></li>
             <li><a href="#">Site Map</a></li>
     </ul>
     </div>
    <!-- end .footer --></div>
      <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
