<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/RichfieldTemplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Historical Society located in Richfield WI (262) 628-2841." />
<meta name="keywords" content="Richfield WI history, historical society in Wisconsin , Richfield WI, eastern Wisconsin history" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Martha Mayer Monthly Feature-Richfield Historical Society</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

<link href="../main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
/*
Random link button- By JavaScript Kit (http://javascriptkit.com)
Over 300+ free scripts!
This credit MUST stay intact for use
*/

//specify random links below. You can have as many as you want
var randomlinks=new Array()

randomlinks[0]="http://ambermarielyon.com/richfield/Templates/monthly_feature.html"
randomlinks[1]="http://ambermarielyon.com/richfield/Templates/monthly_feature_edwin_mayer.html"
randomlinks[2]="http://ambermarielyon.com/richfield/Templates/monthly_feature_mayer_family.html"


function randomlink(){
window.location=randomlinks[Math.floor(Math.random()*randomlinks.length)]
}
//-->
</script>
<script src="doubletaptogo.js"></script>
<script type="text/javascript">
$( '#nav li:has(ul)' ).doubleTapToGo();
</script>
</head>

<body>
 <div class="container">
<div class="header">
	
    <div class="holder_content">
    <div style="position: relative; width: 950px">
    <h1>Richfield Historical Society</h1>
    <p class="cityheading">Richfield, WI</p>
  </div>
   <div class="headerlogo"><img src="../Sepia%20Logo_small.png" alt="Richfield Historical Society logo" class="logo" /></div>
   <div class="headerleft">
   <img src="../mill-soft-optimized.jpg" width="130" height="105" alt="Richfield Historical Society millhouse" /></div>
   <div class="headercenter">
   <img src="../visitor-center-soft-optimized.jpg" width="130" height="105" alt="Richfield Historical Society visitor center" /></div>
   
   <div class="headerright">
   <img src="../Log-Cabin-soft-optimized.jpg" width="130" height="105" alt="Richfield Historical Society logcabin" /></div>
   <div class="headerinfo">
   <img src="../Sugar-Shack-soft-optimized.jpg" width="130" height="105" alt="Richfield Historical Society logcabin" /></div>
      </div>
<!-- end .header --></div>

  <div id="mainnav">
  <nav id="nav" role="navigation">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#" aria-haspopup="true">Get Involved</a>
      	<ul>
      		<li><a href="become_a_member.html">Become a Member</a></li>
     		 <li><a href="#">Newsletter</a></li>
     		 <li><a href="#">Volunteer</a></li>
     		 <li><a href="#">Donate</a></li>
   		</ul></li>
      <li><a href="#" aria-haspopup="true">Community Outreach</a>
      	<ul>
      		<li><a href="#">Education Day</a></li>
      		<li><a href="#">Traveling Trunk</a></li>
      		<li><a href="#">Eagle Scout Projects</a></li>
     		<li><a href="#">History Day</a></li>
            <li><a href="#">RHS Monthly Programs</a></li>
            <li><a href="#">Newsletter</a></li>
    </ul></li>
      <li><a href="#" aria-haspopup="true">Richfield Historical Park</a>
      	<ul>
      		<li><a href="#">Tours</a></li>
      		<li><a href="#">Messer/Mayer Mill</a></li>
      		<li><a href="#">Messer/Mayer Homestead</a></li>
     		<li><a href="#">Pioneer Homestead</a></li>
            <li><a href="#">Visitor Center</a></li>
            <li><a href="#">Park Map</a></li>
            <li><a href="#">Park Rental</a></li>
        </ul></li>
      <li><a href="#" aria-haspopup="true">Richfield Remembers</a>
      	
        	<ul>
      		<li><a href="#">History of Richfield Historical Society</a></li>
      		<li><a href="#">History of the Messer/Mayer Mill</a></li>
      		<li><a href="#">Newsletter</a></li>
     		<li><a href="homestead_families.html">Homestead Families</a></li>
            <li><a href="#">Richfield Remembers the Past Book</a></li>
			
<!--<form method="post">
Uncomment below to use a regular text link instead
<p><input type="button" name="B1" value="Random Link >>" onclick="randomlink()"></p> </form>
-->

<li><a href="javascript:randomlink()">Monthly Feature</a></li>
        </ul></li>
</ul></nav>
	</div> 

  <div class="content">
  <!-- InstanceBeginEditable name="mainContent" -->
  <div class="holder_content">
<div class="centered_content">
<h2>TO MOM IT WAS ALL IN A DAY’S WORK
REMINISCENCE OF A DAUGHTER</h2>
<p>By Carol Mayer Woods, Daughter of Martha Maurer & George Mayer</p>

<p>To the world, she was known as Mrs. George Mayer, or Martha, or Aunt Martha, or much later, Grandma; but to me, her daughter, she was just Mom. And - - her day started before mine.</p>

<h3>MORNINGS</h3>
<p>Dad was the first one up, probably 5:30 or 6:00 a.m. He would start the fire in the kitchen wood stove, get the first pails of water from the well water pump, fill the stove reservoir as well as the big aluminum teakettle which he moved to the front to heat. Then he went out to do his chores: milking, feeding stock, whatever had to be done.</p>

<p><img src="../george_mayer.jpg" height="200" width="150" style="float: right; margin-left: 20px; margin-top: 20px;" alt="george mayer-richfield historical society" />Enter Mom. Besides planning and fixing breakfast, she would start planning her day. For instance, if it was Monday it was Wash Day or if it rained, then maybe Tuesday. Wash hung out to dry, and you always hoped for a sunny day to the beginning of the week. This is how it was before clothes dryers! That also meant lighting the stove in the summer kitchen and filling the wash boiler to heat water for the washing machine. (Maytags were “dependable” even back then!) If it was winter and too cold to use the summer kitchen, then the main kitchen stove was used.  Mom or Daddy would pump pails of rain water from the underground cistern near the back door.</p> 

<p>Of course, once the wash was done, as in: washed, rinsed, hung out to dry, taken down and brought in again, it would be set aside in baskets for the next day which was called Ironing Day.</p>

<p>Mom began the morning of Ironing Day by sprinkling, or dampening, as it was sometimes called, the dried clothes. That may seem silly after all the trouble it was drying the laundry. But don’t forget, this was before “Perma Press,” and, to get all the wrinkles out, the clothes had to be evenly moist so they would iron smooth. When Mom had dampened each piece, it would be rolled up and wrapped in a large cloth to keep the moisture in and then set aside for several hours ‘til it was ready to iron.</p>

<p>Also, daily she would start cooking the noon meal which was called Dinner, as opposed to the evening one called Supper. Dinner required more planning because meat, potatoes and vegetables were involved, and it had to be ready at noon when Daddy would be ready for a hearty meal after his morning’s work.</p>

<p>Saturday was usually the busiest morning (and day) of the week. That was Baking Day. Mom would get an early start since all our bread, rolls and such were made with yeast. She would mix the yeast dough and put it in a huge dishpan to rise on the warming shelf of the stove. After the kneading, rising, shaping, rising again, then the baking finally took place.</p>

<p>Sunday mornings were special – a break in the work routine, but just as busy. It was Church Day and everyone went. Mom not only had to get breakfast earlier and hurry us thru it but had to see that everyone was properly dressed and ready to go when Daddy got the car out. We had to get there on time –Daddy rang the bell for services, was also the Sunday School Superintendent, plus he sang bass in the church choir. Also, she had to have dinner plans made – it would be near noon when we got home.</p>

<h3>AFTERNOONS</h3>
<p>Whatever had been started in the morning was usually continued in the afternoon, as we saw 
on Washing and Baking Day. On Ironing Day, since the wash was now dampened and ready, 
the ironing board was set up. In the early years, the fleet of flat irons were put to heat on the 
fired-up wood stove. When one cooled, it was traded for a hot one.</p>

<p>When spring and summer came, the busiest afternoons took place when the garden produce was ready for canning. It was the only means of preserving – we had no freezer. Fruits and vegetables were all done this way; and when two or more crops were ready at the same time, the days really got hectic. The canner on the wood stove got a real workout! Jar after jar took its place on a rear table to cool, and later I would help carry the jars to the basement for storage.</p>

<p>To have some variety, Mom and Daddy would buy a bushel of peaches in season at the store in town and can them too. If they had items we didn’t have, they would trade their surplus for produce we had to spare. That was the way things were done in those days, and we all had a variety of foods to enjoy.</p>

<h3>EVENINGS</h3>
<p><img src="../george_mayer2.png" height="175" width="225" style="float: right; margin-left: 20px; margin-bottom: 20px;" alt="george mayer-richfield historical society" />Once supper was over and Daddy was done with his outside chores, his work day was done. He could read the paper or listen to the radio to get the latest news and weather. By eight o’clock or shortly after, he would say good night and head up to bed.</p>

<p>Mom, however, still had things to do. First were the daily dishes. Since water first had to be brought in from the pump, then heated on the stove to wash and rinse them, dishes were usually all done at once at night. Mom washed the dishes in one pan, rinsed them in another, and I dried and put them away. Once the dishes were done, I would have a little free time to play or read or, when I got older, do my homework from school.</p>

<p>But for Mom there were always some chores left to do. Whether it was the last of the ironing, straightening up, or something to put away, be it bakery, ironing or canning; it wouldn’t be left for the next day. Sometimes she took time to read the paper – she liked knowing what was going on in the world. Often, however, she would write letters. She kept up an active correspondence with relatives and friends who were too far away to visit very often.</p>

<p>This is how it was, being married to a miller/farmer in the early years. Mom’s days weren’t easy, but she took her job seriously and took pride in the work she did. When there were breaks in the daily routine (visits to neighbors, church activities, social events like weddings and dances, relatives coming to visit or family reunions), she would enjoy them as much as the rest of us.
But, Mom was confident of her role in life, having been brought up to learn that doing a good job was its own reward. So, in being a good wife, mother and homemaker, she fulfilled her mission and made her own happiness along the way. Who of us wouldn’t be glad to say the same?</p>
</p>

</div>
<!-- InstanceEndEditable -->
  <div class="rightcontent">
  <div id="navContainer">   
  <nav id="nav" role="navigation">
  <ul>
      <li><span><a href="#" aria-haspopup="true">Messer/Mayer Mill</a></span>
      	<ul>
      		<li><a href="#">History</a></li>
     		 <li><a href="#">Accomplishments</a></li>
     		 <li><a href="#">Timeline</a></li>
     		 <li><a href="#">Donate</a></li>
             <li><a href="#">Tours</a></li>
   		</ul></li>
      <li><span><a href="#" aria-haspopup="true">Friends/Donors</a></span>
      	<ul>
      		<li><a href="#">Sponsors</a></li>
     		 <li><a href="#">In Kind Donors</a></li>
     		 <li><a href="program_booklet_advertisers.html">Program Booklet Advertisers</a></li>
     		 <li><a href="#">Capital Campaign Donors</a></li>
   		</ul></li>
      <li><span><a href="#" aria-haspopup="true">Donate</a></span>
      	<ul>
      		<li><a href="become_a_member.html">Become a Member</a></li>
     		 <li><a href="messer_mayer_mill_foundation_fund.html">Messer/Mayer Mill Foundation Fund</a></li>
     		 <li><a href="#">Estate Planning</a></li>
     		 <li><a href="#">Matching Funds From Company</a></li>
             <li><a href="#">401K</a></li>
             <li><a href="#">General Donation Form</a></li>
             <li><a href="#">Artifact Donation</a></li>
             </ul></li>
      <li><span><a href="contact_us.html">Contact Us</a></span></li>
    </ul></nav>
    </div>
    <p class="calendar"><a href="#" class="calendar"><img src="../blue_calendar.png" width="100" height="90" alt="Richfield Historical Society calendar" /></a></p>
    <p><a href="https://www.facebook.com/richfieldhistoricalsociety"><img src="../FB-f-Logo__blue_72.png" width="42" height="42" class="imgfacebook" alt="Richfield Historical Society facebook" /></a><a href="http://www.twitter.com/RichHist"><img src="../Twitter_logo_blue_72.png" alt="Richfield Historical Society twitter" width="52" height="42" class="imgtwitter" /></a></p>
    <div class="search_engine">
	<script>
  (function() {
    var cx = '011175491079012544750:a1dul01_55m';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search></div></div></div>
  
    <!-- end .content --></div>

  <div class="footer">
    <p>Copyright © 2014 | Richfield Historical Society | PO Box 268 Richfield, WI 53076</p>
    <div class="footernav">
    <ul>
    	<li><a href="#">Contact Us</a></li>
             <li><a href="#">Get Involved</a></li>
             <li><a href="#">Community Outreach</a></li>
             <li><a href="#">Richfield Remembers</a></li>
             <li><a href="#">Messer/Mayer Mill</a></li>
             <li><a href="#">Donate</a></li>
             <li><a href="#">Friends/Donors</a></li>
             <li><a href="#">Site Map</a></li>
     </ul>
     </div>
    <!-- end .footer --></div>
      <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
